<p><%= RedCloth.new(@desc || "").to_html %></p>
<% if @parameters.any? %>
<div class="parameters">
	<h4>Resource Parameter</h4>
	<% for parameter in @parameters do %>
		<%= parameter.to_html(@generator) %>
	<% end %>
</div>
<% end %>
<% if @headers.any? %>
<div class="headers">
	<h4>HTTP Header</h4>
	<% for header in @headers do %>
		<%= header.to_html(@generator) %>
	<% end %>
</div>
<% end %>
<% if (@object || @array) || @content_desc %>
<div class="content">
	<% if @content_desc %>	
		<h4>Description</h4>
		<%= RedCloth.new(@content_desc || "").to_html %>
	<% end %>
	<% if @object %>
		<h4>Object</h4>
		<a href="<%= @object.to_path %>"><%= @object.full_name %></a>
	<% elsif @array %>
		<h4>Array</h4>
		Array of <a href="<%= @array.to_path %>"><%= @array.full_name %></a> Objects
	<% end %>
</div>
<% end %>
<% if @example %>
<div class="example">
	<h4>Example</h4>
	<%= @example.to_html(self) %>
</div>
<% end %>
