<p>
	<%= @desc %>
</p>
<% if @parameters %>
<div class="parameters">
	<h4>Resource Parameter</h4>
	<table>
		<thead>
			<tr>
				<td class="name">Name</td>
				<td class="type">Type</td>
				<td class="default">Default</td>
				<td class="optional">Optional</td>
				<td class="example">Example</td>
				<td class="description">Description</td>
			</tr>
		</thead>
		<tbody>
		<% for parameter in @parameters do %>
			<tr>
				<%= parameter.to_html(self) %>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
<% end %>
<% if @headers %>
<div class="headers">
	<h4>HTTP Header</h4>
	<table>
		<thead>
			<tr>
				<td class="name">Name</td>
				<td class="type">Type</td>
				<td class="default">Default</td>
				<td class="optional">Optional</td>
				<td class="example">Example</td>
				<td class="description">Description</td>
			</tr>
		</thead>
		<tbody>
		<% for header in @headers do %>
			<tr>
				<%= header.to_html(self) %>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
<% end %>
<% if @content %>
<div class="content">
	<h4>Content</h4>
	<% if @content.is_a? Array %>
	  Array of <a href="<%= @content.first.to_path %>"><%= @content.first %></a>
	<% else %>
	  <a href="<%= @content.to_path %>"><%= @content %></a>
	<% end %>
</div>
<% end %>
<% if @example %>
<div class="example">
	<h4>Example</h4>
	<%= @example.to_html(self) %>
</div>
<% end %>