<h2>
  <span class="method"><%= @method.to_s.upcase %></span>
	<span class="path"><%= highlighted_path %></span>
</h2>
<p>
	<%= @desc %>
</p>
<% if @request %>
<div class="request">
	<h3>Request</h3>
	<%= @request.to_html(self) %>
</div>
<% end %>
<% if @response%>
<div class="response">
	<h3>Response</h3>
	<%= @response.to_html(self) %>
</div>
<% end %>